# -------------- IDEs --------------

.vscode
.idea

# -------------- Environment --------------

.env
venv

# -------------- Git --------------

.gitignore

# -------------- Docker --------------

Dockerfile
.dockerignore

# -------------- Coverage --------------

coverage.txt
